body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

* {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main {
  min-height: calc(100vh - 4.375rem - 13rem);
}

@media screen and (max-width: 767px) {
  main {
    min-height: calc(100vh - 4.375rem - 23.8rem);
  }
}

.swiper-pagination-bullet {
  background-color: #ffff !important;
  width: 1rem !important;
  height: 1rem !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffff !important;
}